_docker/
.github/
.composer/
.idea/
.psysh/
.vscode/
bootstrap/cache/*
storage/
helm/
mysql-data/
node_modules/
*.env
*.ini
*.tgz
db.env
vendor/
Dockerfile.*
cluster-config.yaml
compile_js.sh
compile_js_docker.sh