/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
_docker/
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mysql-data/
/letsencrypt/
/app.env
/db.env
/_docker/
/.env.testing
/public/mix-manifest.json
/public/mix-sri.json
/public/.rnd
