[submodule "resources/js/github/openglobus"]
	path = resources/js/github/openglobus
	url = https://github.com/openglobus/openglobus
[submodule "resources/js/github/vuesocial"]
	path = resources/js/github/vuesocial
	url = https://github.com/LeCoupa/vuesocial
