/node_modules
/public/js
/public/css
/public/hot
/public/storage
/public/vuesocial/
/public/assets/
/public/mix-manifest.json
/public/mix-sri.json
/public/.rnd
/storage/*.key
/vendor
*.env
*.ini
*.tgz
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mysql-data/
/letsencrypt/
/_docker/
/.env.testing
/apache2.conf
/letsencrypt/
.idea/
setup/registry/registry-creds