DB_PASSWORD=
JWT_SECRET=
APP_KEY=base64:

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=eu

GOOGLE_CLIENT_ID=abc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
