@import '~bootstrap/scss/bootstrap.scss';

html {
    position: relative;
    min-height: 100%;
}
#contentbody {
    padding: 80px 15px 60px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.brackets_around {
    font-size: 0.7em;
}

.brackets_around::after {
    content: "]";
}

.brackets_around::before {
    content: "[";
}

.v--modal > div{
    padding: 10px !important;
}

@import '~vue-toastr-2/dist/vue-toastr-2.min.css';
